//- Dashboard Switcher Mixin
//- List of filters (Pages, Components, Templates, and Modules)
mixin dashboard-switcher()
    .dashboard-switcher
        ul.dashboard-switcher-list
            li.dashboard-switcher-list-item.active
                button(type="button")
                    i.fa.fa-file.fa-lg
                    br
                    span.dashboard-switcher-button-text Pages
            li.dashboard-switcher-list-item
                button(type="button")
                    i.fa.fa-puzzle-piece.fa-lg
                    br
                    span.dashboard-switcher-button-text Components
            li.dashboard-switcher-list-item
                button(type="button")
                    i.fa.fa-list-alt.fa-lg
                    br
                    span.dashboard-switcher-button-text Templates
            li.dashboard-switcher-list-item
                button(type="button")
                    i.fa.fa-flask.fa-lg
                    br
                    span.dashboard-switcher-button-text Modules