mixin dashboard-switcher()
    .dashboard-switcher
        ul.dashboard-switcher-list
            li.dashboard-switcher-list-item.active
                button(type="button") Pages
            li.dashboard-switcher-list-item
                button(type="button") Components
            li.dashboard-switcher-list-item
                button(type="button") Templates
            li.dashboard-switcher-list-item
                button(type="button") Elements