//- Footer mixin
//- Define markup that makes up footer component
mixin footer()
    footer
        hr
        p.footer-copyright.
            Powered by <a href="https://github.com/larsonjj/generator-yeogurt">Yeogurt</a> | <a href="http://opensource.org/licenses/MIT">MIT License</a>