//- Status Key Mixin
//- List of available statuses for pages, components, templates, and elements
mixin status-key()
    .status-key
        .sidebar-title Status Key
        ul.status-key-list
            li.status-key-list-item.blocked Blocked
            li.status-key-list-item.queued Queued
            li.status-key-list-item.development In Development
            li.status-key-list-item.qa Quality Assurance
            li.status-key-list-item.review Under Review
            li.status-key-list-item.integration Integration Support
            li.status-key-list-item.complete Complete