<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JSDoc: <?js= title ?></title>

  <script src="scripts/prettify/prettify.js"> </script>
  <script src="scripts/prettify/lang-css.js"> </script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  <link rel="stylesheet/less" type="text/css" href="styles/jsdoc.less" />
  <script type="text/javascript" src="scripts/less.js"></script>
</head>

<body>

  <div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
  </div>
  <div class="api-mobile-bar"></div>
  <nav class="navigation">
    <div class="api-button-wrapper">
      <a class="api-nav-toggle" href="#">
        <span></span>
      </a>
    </div>
    <div class="scroll-wrapper">
      <?js= this.nav ?>
    </div>
  </nav>

  <br clear="both">
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/linenumber.js"> </script>
  <script type="text/javascript" src="scripts/main.js"></script>

</body>
</html>
