<div class="navbar" ng-controller="NavbarCtrl">
    <div class="nav">
        <ul class="nav-list pull-left">
            <li class="nav-item"><a href="/">Home</a></li>
        </ul>
        <ul class="nav-list pull-right" ng-if="loggedIn()">
            <li class="nav-item">
                Hello {{user.firstName ? user.firstName : user.email}}
            </li>
            <li class="nav-item">
                <a href='/settings'>My Account</a>
            </li>
            <li class="nav-item">
                <a id="logoutLink" href='/logout'>Logout</a>
            </li>
        </ul>
        <ul class="nav-list pull-right" ng-if="!loggedIn()">
            <li class="nav-item">
                <a href='/login'>Login</a>
            </li>
            <li class="nav-item">
                <a href='/signup'>Create Account</a>
            </li>
        </ul>
    </div>
</div>
