//- <%= name %> <%= view %><% if (view === 'component' || view === 'helper') { %>
<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "<%= view %>",
        "label": "<%= name %>",
        "link": "../dashboard/generated/<%= name %>.html"
    }
    [/dash]
//- [dash:jade]
    +<%= name || 'example' %>()
    [/dash]

<% } %>mixin <%= name || 'example' %>()
    div.<%= _.slugify(name.toLowerCase()) %>
        p This is an example paragraph<% } else if (view === 'template') { %>
extend base

block template
    //- Define header block from base template
    block header
        +h1()

    //- Provides template level styling
    #template-wrapper.template-wrapper<% if (name) { %>(class="<%= _.slugify(name.toLowerCase()) %>")<% } %>
        block content

    //- Define footer block from base template
    block footer
        +footer()
<% } else if (view === 'page') { %><% if (useDashboard) { %>
//- [dash:data]
    {
        "status": "development",
        "category": "<%= view ? view : 'page' %>",
        "label": "<%= _.titleize(name) %>",
        "link": "<% if (view === 'page') { %>../<%= _.slugify(name.toLowerCase()) %>.html<% } else { %>../views/<%= view %>s/<%= _.slugify(name.toLowerCase()) %>.html<% } %>"
    }
    [/dash]
<% } %><% if (!useTemplate) { %>extend ./templates/base<% } else { %>extend ./templates/<%= useTemplate %><% } %>

//- use the 'block body' if you need to set a page-level class on the <body> tag
block body
    - var bodyClass = '<%= _.slugify(name.toLowerCase()) %>';

block content
    +heading({type:'h1', class:'heading', text: 'Sample Heading'})
    p <%= name || 'empty' %> page<% } %>
