//- <%= name %> <%= view %><% if (view === 'module') { %>
<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "module",
        "label": "<%= _.titleize(name) %>",
        "link": "generated/<%= _.slugify(name.toLowerCase()) %>.html"
    }
    [/dash]
//- [dash:jade]
    include client/templates/<%= folder ? cleanFolderPath(folder) + '/' : ''%><%= name || 'example' %>

    +<%= name || 'example' %>()
    [/dash]

<% } %>mixin <%= name || 'example' %>()
    div.<%= _.slugify(name.toLowerCase()) %>
        p This is an example paragraph<% } else if (view === 'layout') { %>
extend base

block layout

    //- Provides layout level markup
    .layout-wrapper<% if (name) { %>(class="<%= _.slugify(name.toLowerCase()) %>")<% } %>
        block content

<% } else if (view === 'page') { %><% if (useDashboard) { %>
//- [dash:data]
    {
        "status": "development",
        "category": "page",
        "label": "<%= _.titleize(name) %>",
        "link": "../../<%= folder ? cleanFolderPath(folder) + '/' : ''%><%= _.slugify(name.toLowerCase()) %>.html"
    }
    [/dash]
<% } %><% if (!useTemplate) { %>
extend ./layouts/base<% } else { %>
extend ./layouts/<%= useTemplate %><% } %>

block content
    p <%= name || 'empty' %> page<% } %>
