<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "tag",
        "label": "h1",
        "link": "../dashboard/generated/h1.html"
    }
    [/dash]
//- [dash:jade]
    +h1()
    [/dash]
<% } %>//- h1 Tag
//- Defines mixin for creating an h1 tag
mixin h1(content)

    - var content   = content       || {}
    - content.id    = content.id    || ''
    - content.class = content.class || ''
    - content.text  = content.text  || 'Default text'

    h1(id=content.id, class=content.class)
        !=content.text
