extend ./<%= layout %>

//- Add extra stylesheets
block append stylesheets

block content
  //- Provides layout level markup
  .layout-wrapper.<%= name.toLowerCase() %>
    block <%= name.toLowerCase() %>

//- Add extra scripts
block append scripts
