/**
*   Box sizing styles:
*   Apply a natural box layout model to all elements
*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/**
*   Author Custom Styles
*/

.main-container {
    padding-top: 200px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.version {
    font-size: 14px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    position: absolute;
    top: 10px;
    right: 10px;
}
.logo {
    margin-top: 15px;
    -webkit-animation: 5.0s rotateRight linear infinite;
       -moz-animation: 5.0s rotateRight linear infinite;
            animation: 5.0s rotateRight linear infinite;
}

.links a {
    color: white;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #ed7c6c;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    font-size: 100%;
    padding: .5em 1em;
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    text-decoration: none;
}

@-webkit-keyframes rotateRight {
    0% {
        -webkit-transform:rotate(0deg);
        -webkit-transform-origin:50% 50%;
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}

@-moz-keyframes rotateRight {
    0% {
        -moz-transform:rotate(0deg);
         -moz-transform-origin:50% 50%; }
    100% {
        -moz-transform:rotate(360deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    100% {
        transform: rotate(360deg);
    }
}