.yeogurt-info
    h1 Welcome to Yeogurt!
    p
        | Take a look at the
        a(href='https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---' data-bypass)
            |  documentation
        |  and start mixing up something awesome.
    p
        img.logo(src='/images/yeogurt-swirl.png', width='75px')<% if (useJsdoc || useKss) { %>
    p.links<% if (useKss) { %>
        a(href='/docs/styleguide/index.html', data-bypass) Styleguide<% } %><% if (useJsdoc) { %>
        a(href='/docs/api/index.html', data-bypass) API<% } %><% } %>
code.version v<%= pkg.version %>
