//- Homepage Markup
extend ./templates/base

//- use the 'block body' if you need to set a page-level class on the <body> tag
block body
    - var bodyClass = 'homepage';
    <% if (useDashboard) { %>//[dash:data]
        {
            "status": "development",
            "category": "page",
            "label": "Home",
            "link": "../index.html"
        }
        [/dash]<% } %>

block content
    +heading({type:'h1', class:'heading', text: 'Test Heading'})
    p Example page
