extends ../layouts/one-column

block content

    img(src="#{publicInfo.picture || 'https://gravatar.com/avatar/?s=200&d=retro'}" alt="profile image")
    h3 #{publicInfo.firstName} #{publicInfo.lastName}
    h4 #{publicInfo.username}


