<div class="navbar">
  <div class="nav">
    <ul class="nav-list pull-left">
      <li class="nav-item"><a href="/">Home</a></li>
    </ul>
    <ul class="nav-list pull-right">
       {{#unless loggedIn}}
        <li class="nav-item">
          <a href='/login'>Login</a>
        </li>
        <li class="nav-item">
          <a href='/signup'>Create Account</a>
        </li>
      {{else}}
        <li class="nav-item">
          Hello {{#if user.firstName}} {{user.firstName}}{{else}} {{user.email}}{{/if}}
        </li>
        <li class="nav-item">
          <a href='/settings'>My Account</a>
        </li>
        <li class="nav-item">
          <a id="logoutLink" href='/logout'>Logout</a>
        </li>
      {{/unless}}
    </ul>
  </div>
</div>
