extends ../layouts/default

block content
    h3 Sign in
    form(method='post', action='/login')
        input(type='hidden', name='_csrf', value=_csrf)

        p
            label(for='username') Username or Email:
            input(type='text', name='username', id='username', placeholder='Enter your username or email', autofocus)

        p
            label(for='password') Password:
            input(type='password', name='password', id='password', placeholder='Password')

        button Login

        p
            a(href='/forgot') Forgot your password?

        hr

        p
            a(href='/auth/facebook') Sign in with Facebook
        p
            a(href='/auth/twitter') Sign in with Twitter
