//- Base template
//- All other templates should extend from this

//- [injector:jade]
//- [endinjector]

doctype html<% if (ieSupport) { %>
<!--[if IE 8]><html class='ie8<% if (useModernizr) { %> no-js<% } %>' lang='en'><![endif]-->
<!--[if IE 9]><html lang='en' class='ie9<% if (useModernizr) { %> no-js<% } %>'><![endif]-->
<!--[if !IE]><!--><% } %>
html<% if (useModernizr) { %>.no-js<% } %>(lang='en')<% if (ieSupport) { %>
    <!--<![endif]--><% } %>
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title <%= projectName %>
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')<% if (useServer) { %>
        meta(name='csrf-token', content=_csrf)<% } %><% if (useGA) { %>
        link(href='//www.google-analytics.com', rel='dns-prefetch')<% } %><% if (useServer) { %>
        if (env == 'development')<% } %><% if (useServer) { %>    <% } %><% if (cssOption === 'CSS') { %>
        <% if (useServer) { %>    <% } %>// build:css(client) styles/main.css<% if (useFontAwesome) { %>
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')<% } %><% if (useBootstrap) { %>
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')<% } %><% if (useFoundation) { %>
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/bower_components/foundation/css/normalize.css')
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')<% } %>
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/styles/main.css')
        <% if (useServer) { %>    <% } %>// [injector:css]
        <% if (useServer) { %>    <% } %>// [endinjector]
        <% if (useServer) { %>    <% } %>// endbuild<% if (useServer) { %>
        else
            link(rel='stylesheet', href='/styles/main.css')<% } %><% } else { %>
        <% if (useServer) { %>    <% } %>// build:css(client) styles/main.css
        <% if (useServer) { %>    <% } %>link(rel='stylesheet', href='/styles/main.css')
        <% if (useServer) { %>    <% } %>// [injector:css]
        <% if (useServer) { %>    <% } %>// [endinjector]
        <% if (useServer) { %>    <% } %>// endbuild<% if (useServer) { %>
        else
            link(rel='stylesheet', href='/styles/main.css')<% } %><% } %><% if (useModernizr) { %>
        script(src='/bower_components/modernizr/modernizr.js')<% } %><% if (ieSupport) { %>
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        <!--[if lt IE 9]><% if (responsive) { %>
        script(src='/bower_components/respond/respond.min.js')<% } %>
        script(src='/bower_components/html5shiv/dist/html5shiv-printshiv.js')<% if (jsTemplate === 'React') { %>
        script(src='/bower_components/es5-shim/es5-shim.js')
        script(src='/bower_components/es5-shim/es5-sham.js')<% } %>
        script.
            // Protect window.console method calls, e.g. console is not defined on IE
            (function() {
                if (!window.console) {
                    window.console = {};
                }
                // union of Chrome, FF, IE, and Safari console methods
                var m = [
                    'log', 'info', 'warn', 'error', 'debug', 'trace', 'dir', 'group',
                    'groupCollapsed', 'groupEnd', 'time', 'timeEnd', 'profile', 'profileEnd',
                    'dirxml', 'assert', 'count', 'markTimeline', 'timeStamp', 'clear'
                ];
                // define undefined methods as noops to prevent errors
                for (var i = 0; i < m.length; i++) {
                    if (!window.console[m[i]]) {
                        window.console[m[i]] = function() {};
                    }
                }
            })();
        <![endif]--><% } %>
    -var bodyClass
    block body
    body(class=(bodyClass ? bodyClass : false))
        <!--[if lte IE 7]>
        <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/''>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        block content<% if (useGA) { %>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        script.
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');<% } %>
        <% if (jsTemplate === 'React') { %>
        <!--[if lt IE 9]>
        script(src='/bower_components/es5-shim/es5-shim.js')
        script src='/bower_components/es5-shim/es5-sham.js')
        <![endif]--><% } %>
        <% if (useServer) { %>
        if (env == 'development')<% } %><% if (useServer) { %>
            <% } %>// build:js(client) scripts/global.js
        <% if (useServer) { %>    <% } %>script(src='/bower_components/jquery/dist/jquery.js')<% if (useServer) { %>
            <% } %><% if (useBootstrap) { %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>affix.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>alert.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>button.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>carousel.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>collapse.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>dropdown.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>modal.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>scrollspy.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>tab.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>tooltip.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>popover.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/<% if (cssOption === 'Sass') { %>bootstrap-sass-official/assets/javascripts/bootstrap/<% } else if (cssOption === 'Less' || cssOption === 'CSS') { %>bootstrap/js/<% } %>transition.js')
        <% } %><% if (useServer) { %>    <% } %><% if (useFoundation) { %>script(src='/bower_components/foundation/js/vendor/fastclick.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/vendor/jquery.cookie.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/vendor/placeholder.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.abide.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.accordion.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.alert.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.clearing.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.dropdown.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.equalizer.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.interchange.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.joyride.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.magellan.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.offcanvas.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.orbit.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.reveal.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.slider.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.tab.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.tooltip.js')
        <% if (useServer) { %>    <% } %>script(src='/bower_components/foundation/js/foundation/foundation.topbar.js')<% } %>
        <% if (useServer) { %>    <% } %>// endbuild<% if (useServer) { %>
        else
        <% if (useServer) { %>    <% } %>script(src='/scripts/global.js')<% } %><% if (jsOption ==='RequireJS') { %>
        script(data-main='/scripts/main', src='/bower_components/requirejs/require.js')<% } else if (jsOption ==='Browserify') { %>script(src='/scripts/app.js')<% } else { %>//- Place all author scripts within the 'build:js' comments below,
            so they will be optimised correctly during a 'grunt build' task
        // build:js(client) scripts/app.js<% if (jsFramework !== 'Backbone') { %>
        script(src='/scripts/app.js')<% } %>
        // [injector:js]
        // [endinjector]<% if (jsFramework === 'Backbone') { %>
        script(src='/scripts/routes.js')
        script(src='/scripts/app.js')<% } %>
        // endbuild<% } %>
