extend base

block template

    block header
        +header()

    //- Provides template level styling
    #template-wrapper.template-wrapper.one-column
        block content

    block footer
        +footer()