//- Include all mixins
include ../components/all-components
include ../elements/all-elements
include ../partials/all-partials

+head()
    block body
    body(class="#{bodyClass}")

        block template
