//- Include all mixins
include ../components/all-components
include ../elements/all-elements
include ../partials/all-partials

+head()
    block body
    if bodyClass
        body(class="#{bodyClass}")
    else
        body
            block template
