//- Dashboard Data
    !##
    {
        "status": "development",
        "blocks": [
            {"blockName": "content", "width": "100px", "height": "100px", "bgcolor": "#9d9d9d", "textColor": "#fff", "fontSize": "10px"}
        ]
    }
    ##!

//- One Column Template
extend base

block template
    //- Define header block from base template
    block header
        +header()

    //- Provides template level styling
    #template-wrapper.template-wrapper.one-column
        block content

    //- Define footer block from base template
    block footer
        +footer()