//- Blocks.
    !##
    {"blockName": "content", "width": "100px", "height": "100px", "bgcolor": "#9d9d9d", "textColor": "#fff"}
    ##!
//- Data
    !##
    {"status": "development"}
    ##!

extend base

block template

    block header
        +header()

    //- Provides template level styling
    #template-wrapper.template-wrapper.one-column
        block content

    block footer
        +footer()