extend t000-base

block header
    +header()

//- .txxx-some-name must exist above 'block content' on every template
//- Provides template level styling
.t001-one-column
    block content

block footer
    +footer()