/*
*   _mixins.<% if (cssOption === 'LESS') { %>less<% } else if (cssOption === 'SCSS') { %>scss<% } %>
*   Author Custom Mixins
*/
<% if (cssOption === 'LESS') { %><% if (!useBootstrap) { %>
.clearfix() {
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}<% } %><% } else if (cssOption === 'SCSS') { %><% if (!useBootstrap) { %>
@mixin clearfix() {
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}<% } %><% } %>