<% if (useDashboard) { %>//- Dashboard Data
    !##
    {"status": "development"}
    ##!

<% } %>//- Homepage Markup
extend ../templates/one-column

//- use the 'block body' if you need to set a page-level class on the <body> tag
block body
  - var bodyClass = 'homepage';

block content
    +heading({type:'h1', class:'heading', text: 'Test Heading'})
    p Example page
    <% if (jsOption ==='RequireJS') { %>script.
        require(['<% if (useDashboard) { %>../../<% } %>scripts/components/example.js']);<% } %><% if (jsOption ==='Browserify') { %>
    script(src="<% if (useDashboard) { %>../../<% } %>scripts/components/example.js", defer)<% } %>
