extends _layouts/base

block content
  .container
    .yeogurt-info
      h1 Welcome to Yeogurt!
      p Take a look at the <a href="https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---">documentation</a> and start mixing up something awesome.
      p
        img.logo(src="images/yeogurt-swirl.png", width="75px")
  code.version v<%= pkg.version %>
