<% if (useDashboard) { %>//- Dashboard Data
    !##
    {
        "status": "development",
        "markup": "
            +<%= name %>({})
        "
    }
    ##!

<% } %>//- <%= name %> component
mixin <%= name || 'component' %>()
    div.<%= _.slugify(name.toLowerCase()) %>
        p This is an example paragraph
