<% if (useDashboard) { %>//- Dashboard Data
    !##
    {
        "status": "development",
        "blocks": [
            {"blockName": "content", "width": "100px", "height": "100px", "bgcolor": "#9d9d9d", "textColor": "#fff", "fontSize": "10px"}
        ]
    }
    ##!

<% } %>//- <%= name || 'Empty' %> template
extend base

block template
    //- Define header block from base template
    block header
        +header()

    //- Provides template level styling
    #template-wrapper.template-wrapper<% if (name) { %>(class="<%= _.slugify(name.toLowerCase()) %>")<% } %>
        block content

    //- Define footer block from base template
    block footer
        +footer()
