//- <%= name %> <%= type %><% if (type === 'module') { %>
<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "module",
        "label": "<%= _.titleize(name) %>",
        "link": "generated/<%= _.slugify(name.toLowerCase()) %>.html"
    }
    [/dash]
//- [dash:jade]
    include <%= templateFile %>

    +<%= name || 'example' %>()
    [/dash]

<% } %>mixin <%= name || 'example' %>()
    div.<%= _.slugify(name.toLowerCase()) %>
        p This is an example paragraph<% } else if (type === 'layout') { %>
extend base

block content

    //- Provides layout level markup
    .layout-wrapper<% if (name) { %>(class="<%= _.slugify(name.toLowerCase()) %>")<% } %>

<% } else if (type === 'page') { %><% if (useDashboard) { %>
//- [dash:data]
    {
        "status": "development",
        "category": "page",
        "label": "<%= _.titleize(name) %>",
        "link": "../../<%= templateFile %>.html"
    }
    [/dash]
<% } %><% if (!useLayout) { %>
extend ./layouts/base<% } else { %>
extend ./layouts/<%= useLayout %><% } %>

block content
    p <%= name || 'empty' %> page<% } %>
