<div class="yeogurt-info">
  <h1>Welcome to Yeogurt!</h1>
  <p>
    Take a look at the <a href="https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---" data-bypass>documentation</a> and start mixing up something awesome.
  </p>
  <p>
    <img src="images/yeogurt-swirl.png" width="75px" class="logo" />
  </p>
</div>
<code class="version">v<%= pkg.version %></code>
