extends ../layouts/one-column

block content
    .row
        .medium-8.medium-offset-2
            h3 Sign in
            form(method='post', action='/login')<% if (useSecurity) { %>
                input(type='hidden', name='_csrf', value=_csrf)<% } %>
                label(for='username') Username or Email
                    input(type='text', name='username', id='username', placeholder='Enter your username or email', autofocus)
                label(for='password') Password
                    input(type='password', name='password', id='password', placeholder='Password')
                button.button
                    span
                    | Login
                a(href='/forgot') Forgot your password?
                hr
                a.button(href='/auth/facebook')
                    i
                    |  Sign in with Facebook
                a.button(href='/auth/twitter')
                    i
                    |  Sign in with Twitter
