extends ../layouts/one-column

block content
    .row
        .medium-8.medium-offset-2
            h3 Sign up
            form(id='signup-form', method='post', action='/user')<% if (useSecurity) { %>
                input(type='hidden', name='_csrf', value=_csrf)<% } %>
                label(for='username') Username or Email
                    input(type='text', name='username', id='username', placeholder='Username', autofocus)
                label(for='email') Email
                    input(type='email', name='email', id='email', placeholder='Email')
                label(for='password') Password
                    input(type='password', name='password', id='password', placeholder='Password')
                label(for='confirmPassword') Confirm Password
                    input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
                button.button
                    span
                    | Signup
