<% if (useDashboard) { %>//- Dashboard Data
    !##
    {"status": "development"}
    ##!

<% } %>//- <%= name || 'Empty' %> markup
<% if (!useTemplate) { %>extend ../templates/one-column<% } else { %>extend ../templates/<%= useTemplate %><% } %>

//- use the 'block body' if you need to set a page-level class on the <body> tag
block body
  - var bodyClass = '<%= _.slugify(name.toLowerCase()) %>';

block content
    +heading({type:'h1', class:'heading', text: 'Sample Heading'})
    p <%= name || 'empty' %> page
