//- Dashboard Data
    !##
    {
        "status": "development",
        "markup": "
            +footer({})
        "
    }
    ##!

//- Footer Mixin
//- Define markup that makes up footer component
mixin footer()
    footer
        p This is an example footer