//- Markup
    !##
    +footer({})
    ##!
//- Data
    !##
    {"status": "development"}
    ##!

//- Footer mixin
//- Define markup that makes up footer component
mixin footer()
    footer
        p This is an example footer