//- Dashboard Data
    !##
    {
        "status": "development",
        "markup": "
            +header({})
        "
    }
    ##!

//- Header Mixin
//- Define markup that makes up header component
mixin header()
    header
        p This is an example header