//- Markup
    !##
    +header({})
    ##!
//- Data
    !##
    {"status": "development"}
    ##!

//- Header mixin
//- Define markup that makes up header component
mixin header()
    header
        p This is an example header