.navbar
    .nav
        ul.nav-list.pull-left
            li.nav-item
                a(href='/') Home
        ul.nav-list.pull-right
            if !user
                li.nav-item
                    a(href='/login') Login
                li.nav-item
                    a(href='/signup') Create Account
            else
                li.nav-item
                    | Hello #{user.firstName || user.username}
                li.nav-item
                    a(href='/settings') My Account
                li.nav-item
                    a(href='/logout') Logout
