{% extends './base.twig' %}

{# Add extra stylesheets #}
{% block stylesheets %}{% endblock %}

{% block layout %}
<div class="layout-wrapper <%= _.slugify(name.toLowerCase()) %>">
  {% block <%= _.slugify(name.toLowerCase()) %> %}{% endblock %}
</div>
{% endblock %}

{# Add extra scripts #}
{% block scripts %}{% endblock %}
