mixin <%= _.slugify(name.toLowerCase()) %>(spec)
  - spec = spec || {}
  - spec.class = spec.class || ''

  div(class=spec.class)&attributes(attributes)
    p This is an example paragraph for the <%= _.slugify(name.toLowerCase()) %> module
