mixin <%= _.slugify(name.toLowerCase()) %>(spec)
  - spec = spec || {}
  - spec._class = spec._class || ''

  div(class=spec._class)&attributes(attributes)
    p This is an example paragraph for the <%= _.slugify(name.toLowerCase()) %> module
