<% if (useDashboard) { %>//- [dash:data]
    {
        "status": "development",
        "category": "component",
        "label": "Footer",
        "link": "../dashboard/generated/footer.html"
    }
    [/dash]
//- [dash:jade]
    +footer()
    [/dash]
<% } %>//- Footer Mixin
//- Define markup that makes up footer component
mixin footer()
    footer
        p This is an example footer