h3 Reset Password
form(method='post')
  p
    label(for='password') New Password
    input(type='password', name='password', value='', placeholder='New password', autofocus='autofocus')
  p
    label(for='confirm') Confirm Password
    input(type='password', name='confirm', value='', placeholder='Confirm password')
  button Change Password
