h3 Sign up
    form#signup-form(method='post', action='/user')
        p
            label(for='email') Email:
            input#email(type='text', name='email', placeholder='Email')
        p
            label(for='password') Password:
            input#password(type='password', name='password', placeholder='Password')
        p
            label(for='confirmPassword') Confirm Password:
            input#confirmPassword(type='password', name='confirmPassword', placeholder='Confirm Password')
            button Signup

