//- One Column Template

include ../modules/navbar
include ../modules/messages

extend base

block layout
    //- Navigation Bar
    +navbar()
    //- Provides layout level markup
    .one-column
        .container
            //- Include flash messages
            +messages()
        block content