extend base

block layout
    //- Navigation Bar
    include ../partials/navbar
    //- Provides layout level markup
    .default-layout
        .main-container
            .messages
                //- Include flash messages
                include ../partials/messages
            .content
                block content
